<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nessie English Bot</title>

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="/css/default.css" id="theme-color">
</head>
<body>

    <!--navigation-->
    <section class="smart-scroll">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand heading-black" href="https://t.me/NessieEnglishBot">
                    Nessie English Bot 🐍
                </a>
            </nav>
        </div>
    </section>

    <!-- header-->
    <section class="py-7 py-md-0 bg-hero" id="home">
        <div class="container">
            <div class="row vh-md-100">
                <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                    <h1 class="heading-black">Изучаешь английский?</h1>
                    <p class="lead py-3">Попробуй @NessieEnglishBot в Telegram для изучения английских слов</p>
                    <a class="btn btn-primary d-inline-flex flex-row align-items-center"
                       href="https://t.me/NessieEnglishBot">
                        Начать
                        <em class="ml-2" data-feather="arrow-right"></em>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer class="py-6">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 text-muted text-center small-xl">
                    &copy; 2022 NessieEnglishBot - All Rights Reserved
                </div>
            </div>
        </div>
    </footer>

    <!--scroll to top-->
    <div class="scroll-top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>

</body>
</html>